# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.pyc

# Ignorar todo vtex_invoices excepto exporter
vtex_invoices/*
!vtex_invoices/exporter.py

# Carpetas de salida / datos
billing_downloads/

# Sistema
Thumbs.db
.DS_Store